.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: var(--accent-primary);
    border-radius: 50%;
    pointer-events: none;
    z-index: 10000;
    opacity: 0;
}

.custom-cursor-follower {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: rgba(154, 215, 65, 0.2);
    /* using #9ad741 with opacity */
    border: 1px solid var(--accent-primary);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
}

@media (max-width: 992px) {

    .custom-cursor,
    .custom-cursor-follower {
        display: none !important;
    }
}