body{
  background-color: #0A192F;
  margin: 0;
}

.navbar-nav{
  margin-left: auto !important;
}
.hi{
  margin-left: 2vw;
}
.green{
  color: #62FAD7;
}
.gray{
  color: rgb(173, 211, 236);
}
.gray2{
  color: rgb(116, 132, 143);
}
.big-text{
  font-size: 5vw;
}
.small-text{
  font-size: 1.4vw;
}