body{
  background-color: #061730;
  margin: 0;
}

.navbar-nav{
  margin-left: auto !important;
}
.hi{
  margin-left: 1vw;
}
.green{
  color: #62FAD7;
}
.gray{
  color: rgb(173, 211, 236);
}
.gray2{
  color: rgb(140, 148, 153);
}
.big-text{
  font-size: 5vw;
}
.small-text{
  font-size: 1.4vw;
}